.Navigation a {
  font-family: Game of Thrones, sans-serif;
  font-size: 30px;
  padding: 90px;
  cursor: pointer;
}

.Navigation {
  margin-bottom: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
